.container {
    width: 700px;
    margin: 100px auto;
    text-align: center;
}

h1 {
    font-size: 32pt;
    color: #004d3d;
}

input {
    width: 593px;
    margin: 20px 0px;
    padding: 8px 24px;
    font-size: 16pt;
    background-color: #f7f7f7;
    border-radius: 24px;
    display: inline;
}

input:focus {
    outline: none;
}

button {
    width: 48px;
    height: 48px;
    color: #fff;
    background-color: #004d3d;
    font-size: 16pt;
    border-radius: 24px;
    display: inline;
    cursor: pointer;
}

button:hover {
    color: #ddd;
    background-color: #003c2c;
}

ul {
    margin-top: 20px;
    padding: 0;
    text-align: center;
}

li {
    list-style: none;
    text-align: left;
    padding: 7px 15px;
    font-size: 16pt;
    width: 700px;
    border: 1px solid #ddd;
}

span {
    margin: 0 5px;
}

.todo__created, .todo__remove {
    margin-right: 30px;
    font-size: 12px;
    color: #666;
}

.todo__remove {
    font-weight: bold;
    font-size: 12px;
    color: #a66;
    cursor: pointer;
}

.todo__remove:hover {
    color: #733;
}